header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: grey;
}

.logo {
  height: 50px;
}

.signin-button {
  height: 40px;
  width: 150px;
  border: none;
  font-size: 16px;
  color: #fff;
  background: #000;
  border-radius: 10px;
}


