header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background: linear-gradient(#242222, #0d0d0d);
  border-bottom: 1px solid white;
}

.logo {
  height: 48px;
}

.signin-button {
  height: 40px;
  width: 150px;
  border: none;
  font-size: 16px;
  color: #0d0d0d;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.signin-button:hover {
  box-shadow: inset 2px 2px 1px #302f2f
}


