.hidden {
  display: none;
}

.show {
  position: absolute;
  left: 0;
  right: 0;
  margin: 50px auto;
  height: 235px;
  width: 550px;
  background: #fff;
  z-index: 5;
}

.delete-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8px;
}

.sign-up {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.delete-button {
  margin: 5px 5px 0 0;
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.google-login {
  width: 177px;
  height: 60px;
  border-radius: 4px;
  font-size: 20px;
  color: white;
  background-color: rgb(255, 255, 255);
  border: 1px solid #0d0d0d;
  cursor: pointer;
  color: black;
}

.google-logo {
  height: 40px;
}
